body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    color: #333;
    padding: 0;
    font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    text-align: center;
    background-color: #F1F1F1;
}
.container {
    /*width: 100%;*/
    border: 1px solid #ccc;
}
.swiper1 {
    width: 100%;
}
.swiper1 .selected {
    color: #4D4D4D;
    border-bottom: 2px solid #2BA245;
}
.swiper1 .swiper-slide {
    text-align: center;
    font-size: 20px;
    height: 80px;
    width: 100px;
    font-weight: bold;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}
.swiper2 {
    width: 100%;
}
.swiper2 .swiper-slide {
    height: calc(100vh - 50px);
    background-color: #eeeeee;
    color: #2BA245;
    text-align: center;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    font-size: medium;
}
.content{
    margin: 0;
    padding: 0;
    text-align: left;
}
.item{
    position: relative;
    padding-left: 10px;
    padding-bottom: 2px;
    display: block;
    border-bottom: 1px solid lightcyan;

}
.close_btn{
    width: 97%;
    height: 40px;
    text-align: center;
    background: #f1f1f1;
    color: #2BA245;
    border-radius: 12px;
    margin: 3px;
}


.UpLayer span{
    border:#fff 1px solid;
    width:80px;
    padding:0 5px;
    line-height:20px;
    display:block;
}
.UpLayer{
    z-index: 999;
    position: relative;
    /*top: -27px;*/
    width: 50px;
    float: right;
    right: 30px;
    top: 4px;
}
.UpLayer ul{
    display:none;
    position:absolute;
    border:#ccc 1px solid;
    width:80px;
    padding:5px;
    line-height:20px;
    background:#f1f1f1;
    margin:-1px 0 0 0;
}
.UpLayer ul li{
    list-style: none;
    border-bottom:#ccc 1px dashed;
}
.from{
    line-height: 30px;
    padding: 0;
    margin: 0;
}
.feedback{
    background-color: #AAAAAA;
    position: relative;
    height: 30px;
    float: right;
    width: 40px;
}

/* 不感兴趣样式*/
.limitRecommend{
    color:#888888;
}

.myurl{
    color: #4D4D4D;
    font-size: medium;
    margin-top: 100px;
    cursor: pointer;
    font-weight: bolder;
    overflow-wrap: break-word;
}

.navigation1{
    color: #4D4D4D;
    font-size: medium;
    
}

.navigation2{
    color: #4D4D4D;
    font-size: medium;
}

.article{
    font-size: medium;
    margin-bottom: 20px;
    /*margin-bottom: 200px;*/
}

/*.swiper-wrapper{*/
/*    margin-bottom: 10px;*/
/*}*/

