<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识推荐</title>
</head>
<body>
<script>
    window.onload = function () {
        //window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx65bbb0c05f89b3af&redirect_uri=http%3A%2F%2Fpanghu.ngrok.xiaomiqiu.cn%2Flist2&response_type=code&scope=snsapi_base&state=STATE&#wechat_redirect";
        window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx65bbb0c05f89b3af&redirect_uri=http%3a%2f%2fxing.easy.echosite.cn%2flist2&response_type=code&scope=snsapi_base&state=STATE&#wechat_redirect";
    }
</script>
</body>
</html>